.hero {
  &__result {
    margin-left: 23%;
  }

  &__mode {
    padding: 5px 13px;
    background: #a6b0c3;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
}
